//////////////////
//    Tweets    //
//////////////////
.view.ng-enter
  animation: zoomIn 0.3s

//////////////////
//    Tweets    //
//////////////////
.tweets-list-item.ng-enter,
.tweets-list-item.ng-leave
  -webkit-transition: 0.5s linear all
  transition: 0.5s linear all

.tweets-list-item.ng-enter,
.tweets-list-item.ng-leave.ng-leave-active
  opacity: 0

.tweets-list-item.ng-leave,
.tweets-list-item.ng-enter.ng-enter-active
  opacity: 1

//////////////////
//    Navbar    //
//////////////////

.no-user-buttons.ng-enter,
.no-user-buttons.ng-leave,
  -webkit-transition: 0.5s linear all
  transition: 0.5s linear all

.no-user-buttons.ng-enter,
.no-user-buttons.ng-leave.ng-leave-active
  opacity: 0

.no-user-buttons.ng-leave,
.no-user-buttons.ng-enter.ng-enter-active
  opacity: 1

//////////////////
//    Alerts    //
//////////////////
.tweet-success-message.ng-enter
  animation: fadeInUp 0.3s

.tweet-success-message.ng-leave
  animation: fadeOutDown 0.3s

.login-error.ng-hide-remove
  animation: fadeInDown 0.3s
