.row
  #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
    .panel.panel-info
      .panel-heading
        .panel-title Login
      .panel-body
        form.form(name='form', ng-submit='login(form)', novalidate='novalidate')
          .form-group.has-error
            alert.login-error(type="danger" ng-show='(form.username.$error.required || form.password.$error.required) && submitted')
              | Please enter both your username and password.
            alert.login-error(type="danger" ng-show='errors.other') {{ errors.other }}

          .form-group
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input.form-control(type='text', name='username', placeholder="Username", ng-model='user.username', required='')

          .form-group
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-lock
              input.form-control(type='password', name='password', placeholder="Password" ng-model='user.password', required='')

          button.btn.btn-success(type='submit') Sign in 
          span.clearfix
          hr
          | Not registered? 
          a.text-center.new-account(href='/signup') Create an account.
