nav.navbar.navbar-default(role="navigation" ng-controller='NavbarCtrl')
  .container-fluid
    .navbar-header
      // Toggle for small screens
      // TODO: Doesn't work
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') ufind

    .collapse.navbar-collapse#navbar-collapse
      ul.nav.navbar-nav
        // It's a special case
        li(ng-class='{active: isActive("/user/{{ currentUser.username }}")}' ng-show='currentUser')
          a(ng-href='/user/{{ currentUser.username }}') Profile
        li(ng-repeat='item in menu' ng-class='{active: isActive(item.link)}')
          a(ng-href='{{item.link}}') {{item.title}}

      form.navbar-form.navbar-left(role="search" ng-submit='search(searchUserQuery)')
        .input-group
          input.form-control(type="text" placeholder="Search user" ng-model='searchUserQuery')
          span.input-group-btn
            button.btn.btn-primary(type="submit") Go!

      ul.nav.navbar-nav.navbar-right
        span.no-user-buttons(ng-hide='currentUser')
          a.btn.btn-success.navbar-btn(href='/login') Login
          |  
          a.btn.btn-primary.navbar-btn(href='/signup') Sign up
        li.dropdown(ng-show='currentUser')
          a.dropdown-toggle(data-toggle="dropdown")
            span.glyphicon.glyphicon-user
            strong 
              |  {{ currentUser.username }}
              |  
            span.glyphicon.glyphicon-chevron-down
          ul.dropdown-menu
            li
              .navbar-user-info
                .row
                  .col-lg-4
                    img.img-thumbnail.center-block(ng-if="currentUser.avatar" ng-src="/images/avatars/{{ currentUser.avatar }}")
                    img.img-thumbnail.center-block(ng-if="!currentUser.avatar" ng-src="/images/default-avatar.png")
                  .col-lg-8
                    p.text-left
                      strong {{ currentUser.name }}
                      p.text-left.small {{ currentUser.email }}
                      p.text-left
                        a.btn.btn-primary.btn-block.btn-sm(ng-href='/settings') Settings
            li.divider  
            li
              .navbar-user-info.navbar-user-info-session
                .row
                  .col-lg-12
                    p
                      a.btn.btn-danger.btn-block(ng-click='logout()') Logout
